@import 'header/header';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  }

html, body{
  height: 100%;
  background: #F2F2F2;
  }

body, a{
  font: normal 16px Helvetica, Verdana, Geneva, sans-serif;
  color: #3F3F3F;
  }

.container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  }

.container:after{
  content: '';
  display: block;
  height: 30px;
  clear: both;
  }

.footer{
  height: 12px;
  padding: 8px 0;
  background: #FFF;
  border-top: 1px solid #51C1F1;
  font-size: 12px;
  text-align: center;
  }

body {
  font-family: helvetica;
  color: #525252;
}

a {
  text-decoration: none;
  color: #3ABB92;
}

.search input {
  margin: 15px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}

.control {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  background: orange;
  z-index: 1000;
}


/* need to add handler for window.onresize, that will override these defaults,
 * or maybe this should be handled with media queries? 
 */
#map {
  width: 1000px;
  height: 400px;
}

h1 {
  font-size: 22px;
}

#control {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #EBEBEB;
  padding: 15px;
  border-radius: 2px;
}

#control a {
  float: right;
}

// leaflet popup override
.leaflet-popup-content {
  text-align: center !important;
}

@media only screen and (max-width: 479px) {
  #control {
    position: fixed;
    bottom: 0;
    width: 95%;
    left: 0;
  }
}