$tablet: 768px;
$menu-index: 1;
$headerHeight: 80px;
$headerMaxHeight: $headerHeight;
$headerBg: #dddddd;
$titleFont: inherit;
$titleColor: inherit;
$navItemBorder: 1px solid #eeeeee;
$navItemBg: #ddd;
$navFocusColor: #3ABB92;
$menuToggleBg: #A0A0A0;
$menuToggleColor: #000000;
$menuToggleBgHover: #808080;
$menuToggleColorHover: #000;
$toggleMenuContent: '☰';